html{
	width:100%;
	height:100%;
	background-color:blue;	
}
body{
	width:100%;
	height:100%;
	background-color:blue;		
}
a{
	text-decoration:none;
	color:#02002d;
}
p, h1{
	text-shadow: 1px 1px #000000;
	font-family: 'Montserrat', sans-serif;
}
#main{
	width:100%;
	margin: 0 auto;
	background: url(../img/bg/2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#top{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:52px;
	background-color:white;
	text-align:right;
	line-height:52px;
	z-index:1000;
}
.menu{
	margin-right:100px;
}

.menu a{		
	
	margin: 20px;
	float:center;
	font-size:22px;
	font-family: 'Montserrat', sans-serif;
}
.menu a:hover{
	color:#FF8C00;
}
.active{
	color:#FF8C00;
	font-weight:bold;
}

#contentAbout{
	width:100%;
	height:490px;
	text-align:center;
	background-color:rgba(133,133,133, 0.5);
}
.aboutText{
	width:100%;
	color:white;
	position:relative;
	top:40%;
}.aboutText h1{
	font-size:26px;	
}
#contentGames{
	width:100%;
	text-align:center;
	display:inline-block;
	background-color:rgba(77,77,77, 0.5);
	overflow: hidden;

	
}
.gameList{
overflow: hidden;
}
.gamesText{
	width:100%;
	color:white;
	padding-top:20px;

}.gamesText h1{
	font-size:26px;	
}
.game{
	width:256px;
	padding:20px;
	margin:20px;
	display:inline-block;
	background-color:rgba(0,0,0, 0.5);	
}
.game p{
	margin: 20 0;
	font-size:18px;
	color:white;
}

.technologies p{
	display:inline;
}
.technologies .tech{
	color:#FF8C00;
}

#contentOther{
	width:100%;
	height:512px;
	text-align:center;
	background-color:rgba(133,133,133, 0.5);
}
.otherText{
	width:100%;
	color:white;
	position:relative;
	top:40%;
}.otherText h1{
	font-size:26px;	
}
#contentContacts{
	width:100%;
	height:256px;
	text-align:center;
	background-color:rgba(255, 102, 0, 0.9);
}
.contactsText{
	width:100%;
	color:white;
	position:relative;
	top:30%;
}
.contactsText h1{
	font-size:26px;	
}
.contactsText a{
	text-decoration:none;
	color:white;
}
#footer{
	width:100%;
	height:156px;
	text-align:center;
	background-color:rgba(0,0,0, 0.5);
}
.footerText{
	width:100%;
	color:white;
	position:relative;
	top:40%;
}
.footerText h1{
	font-size:26px;	
}







